/*estilo.css*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
body{
    color: rgb(0, 0, 0);
    background-color: rgb(221, 218, 196);
    font-family:"PT Sans Narrow";
}

h2{
    font-style: oblique;
    
}

p{
    font-style: initial;
    font-size: 19px;
    text-align: Justify;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ol{
    font-size: 22px;
}

ul{
    font-size: 22px;
}

table{
    border-color: rgb(93, 118, 2);
    font-size: 19px;
}

a:hover{
    color: rgb(10, 155, 10);

}

#primeiro{
    font-weight: 700;
    text-align: center;
}

.menu{
    text-decoration: none;
    text-decoration-color: rgb(180, 7, 255);
    color: rgb(33, 14, 232);
    font-weight: 600; /*400 normal, 700 negrito*/
    display: inline-block;
    padding: 5px 15px; /*Espaçamento interno*/
    margin: 5px;/*Espaçamento externo*/
    background-color: #cdd2c1;
    transition-duration: 1.5s;
    border-right-color:rgb(0, 17, 255);
    border-left-color: blue;
    border-top-color: blue;
    border-bottom-color: rgb(0, 17, 255);
    border-style: outset;
    border-radius: 10px;
}


#pudim{
    width: 250px;
    border-color: blue green red purple;
    border-width: 5px;
    border-style: solid;
    border-radius: 15px;
    height: 200px;
    align-items: center;

    /* border-top-color: blue;
    border-left-color: green;
    border-right-color: red; 
    border-color:blue green red purple;*/
}

tr.par{
    background-color: darkgoldenrod;
}

tr.impar{
    background-color: rgb(247, 247, 140);
}

ul li.impar{
    font-family: cursive;
    text-transform: lowercase;
}
ul li.par{
    font-family: fantasy;
    text-transform: uppercase;
}